<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyVue</title>
</head>
<body>
    <div id="my-app">
        <input type="text" v-model="someStr">
        <input type="text" v-model="anyStr">
        {{someStr}}
        <p>{{getHelloWorld}}</p>
        <p v-html="htmlStr"></p>
        <button v-on:click="clickBtn">change model</button>
    </div>
    <script src="./js/observer.js"></script>
    <script src="./js/watcher.js"></script>
    <script src="./js/compile.js"></script>
    <script src="./js/myVue.js"></script>
    <script>
        let vm = new MyVue({
            el: '#my-app',
            data: {
                someStr: 'hello',
                className: 'btn',
                htmlStr: '<span style="color:#f00;">red</span>',
                anyStr: 'world!'
            },
            computed: {
                getHelloWorld(){
                    return this.someStr + this.anyStr;
                },
            },
            methods: {
                clickBtn(e){
                    let randomStrArr = ['childOne', 'childTwo', 'childThree'];
                    this.anyStr = randomStrArr[parseInt(Math.random()*3)];
                }
            }
        });

        vm.$watch('anyStr', () => console.log('anyStr changed'));
    </script>
</body>
</html>